body{


    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
    transition: all 0.3s ease-in-out;
    
}

.page-1{

    height: 110vh;
    width: 100vw;
    background: url("https://media.istockphoto.com/id/805764964/photo/rock-n-roll-drummer-sparkles-in-the-air.jpg?s=1024x1024&w=is&k=20&c=usMo-YLuEj81KCN7FITQtYvuEqtHuLVHYP2V0_ujlCM=");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 2000px;
    opacity: 1;
    
    
}

.page-2{

    height:100vh ;
    /* background-color: antiquewhite; */
    width: 100vw;
    
    position: relative;
    padding: 0;
    margin-top: 0px;
     display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    overflow: hidden;
}

/* When dark-theme class is added */
body.dark-theme {
    background: #000;
    color: aliceblue;
}

.theme-btn {
    /* background-color: rgb(16, 18, 138);  bright green in light mode */
   background-color: transparent;
   text-shadow: 0px 0px 20px rgb(68, 151, 235);
    border: none;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    font-size: 24px;
    right: 20px;
    top: 17px;
    position: absolute;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Dark mode button */
.theme-btn.dark-btn {
    /* background-color: rgb(146, 229, 52);  blue in dark mode */
    color: white;
    text-shadow: 0px 0px 20px greenyellow;
}

/* Press animation */
.theme-btn:active {
    transform: rotate(180deg) scale(0.8);
}
.navbar{

    margin-top: 35px;margin-bottom: -18px;
}

@keyframes rotate {

    100%{

        transform: rotateZ(0deg);
        scale: 1;
    }
    0%{
        
        transform: rotateZ(-180deg);
        scale: .3;
    }
    
}


.container{

    
    width: 90%;
    /* height: 36rem; */
    /* background-color: rgb(193, 153, 100); */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;    
    padding: 10px 10px;

}
.drum{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    
}
img{

    height: 170px;
    /* background-color: aquamarine; */
    cursor:pointer;
}

img:active{

    scale: 1.3;
}

.active{

    scale: 1.3;

}